<div class="container">
 <h2>Add invoice</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name="name"
            required
            [(ngModel)] = "invoice.name">
            
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
            class="form-control"
            id="amount"
            name="amount"
            required
            [(ngModel)] = "invoice.amount">      
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
 </div>
<br><br>
<h3 *ngIf="visible">Dispaly the last product as request in question 2:</h3>
<br>
<jce-invoice *ngIf="visible" [invoice] = "lastInvoice"></jce-invoice>

