<h1>
  {{title}}
</h1>
<a routerLink = "/invoice-form">Invoice Form</a> |
  <a routerLink = "/invoices">Invoives</a> |
  <a routerLink = "/users">Users</a> |
  <a routerLink = "/posts">Posts</a> |
  <a routerLink = "/products">Products</a>

<router-outlet></router-outlet>