<br>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<br>
<div class="container">
  <ul class = "list-group users">
      <li *ngFor = "let invoice of invoises" [class.list-group-item-success] = "currentInvoice == invoice" (click) = "select(invoice)"  class = "list-group-item">
        <jce-invoice [invoice] = "invoice"></jce-invoice>
      </li>
  </ul>
</div>
