 <div class="container">           
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products">
       <td *ngFor = "let prop of properties"> <jce-product [poduct] = "product" [category] = "prop" (deleteEvant) = "deleteProd($event)"></jce-product></td>
      </tr>
    </tbody>
  </table>
</div>



 <div class="container">           
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products">
       <td *ngFor = "let prop of properties2">
         <jce-product [poduct] = "product" [category] = "prop" ></jce-product></td>
      
      </tr>
    </tbody>
  </table>
</div>

   

   
