<span *ngIf = "category == 1">{{poduct.pid}}</span>
<span *ngIf = "category == 2">{{poduct.pname}}</span>
<span *ngIf = "category == 3">{{poduct.cost}}</span>
<span *ngIf = "category == 4">{{poduct.categoryId}}</span>
<span *ngIf = "category == 5"> {{(poduct.categoriesList | async)?.cname}}</span>
<span *ngIf = "category == 6"> <button class = "btn" (click) = "sendDelete()" > Delete </button></span>



